html {
  background-color: lightblue;
  font-size: 30px;
}

h1 {
  color:gray;
  font-size: 3em;
}

p {
  color:black;
}

.unimportant {
  color:rgb(75, 74, 74);
  font-size: 10px;
}

.practice {
  font-style: oblique;
}

ul {

}
  
li {
  
  margin-left: 0px;
}